
.ipynb_checkpoints/

.idea/

中文分词/机械分词/people-daily-1998/

中文分词/CRF分词/CRF\+\+-0.58/

中文分词/CRF分词/.DS_Store

*.pyc

中文分词/CRF分词/data/

中文分词/CRF分词/model/

关键词提取/test_data/seg_data/

关键词提取/test_data/

实体识别/data/

实体识别/v1/data/

实体识别/v1/tests/.DS_Store

实体识别/v2/.DS_Store

实体识别/.DS_Store

实体识别/v1/model/.DS_Store

实体识别/v1/.DS_Store

实体识别/v2/ner/data/pd1998_msra_10w

实体识别/v2/ner/.DS_Store

实体识别/v2/model/chinese-bert-wwm/

文本分类/data/

实体识别/v2/tests/test_model/bertcrf/

实体识别/v2/tests/test_data/idcnn-crf/

中文分词/Bert分词/src/segment/data/hmm_pos_1998/

中文分词/Bert分词/src/segment/data/hmm_pos_enhance_1998/

中文分词/Bert分词/src/segment/data/hmm_seg_1998/

中文分词/Bert分词/src/segment/data/pd1998_msra_seg_bilstmcrf/

中文分词/Bert分词/src/segment/data/

提示学习/ProtoNet/data/thunews/

提示学习/ProtoNet/data/

提示学习/MyPET/data/

Basline/word2vec_notebook/data/

Basline/glove_notebook/data/

Basline/c2w_notebook/data/

Basline/chartextcnn_notebook/data/

Basline/fasttext_notebook/data/AG/

Basline/deep_nmt_notebook/data/iwslt14/

Basline/deep_nmt_notebook/data/

Basline/HAN/data/imdb/

Basline/HAN/model/

Basline/attentionNMT/data/iwslt14/

Basline/attentionNMT/data/

Basline/HAN/.DS_Store

Basline/HAN/data/.DS_Store

机器翻译/Loung_NMT/data/
