
.ipynb_checkpoints/

.idea/

中文分词/机械分词/people-daily-1998/

中文分词/CRF分词/CRF\+\+-0.58/

中文分词/CRF分词/.DS_Store

*.pyc

中文分词/CRF分词/data/

中文分词/CRF分词/model/

关键词提取/test_data/seg_data/

关键词提取/test_data/

实体识别/data/
